DATABASE_URL=postgresql://user:password@endpoint-pooler.region.aws.neon.tech/dbname?sslmode=require
DIRECT_URL=postgresql://user:password@endpoint.region.aws.neon.tech/dbname?sslmode=require
NEXT_PUBLIC_APP_URL=https://your-domain.com
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=abcdefgh
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_preset_name
